.about {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #69d666; 
}

.about h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #69d666;
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

.about p + p {
  margin-top: 1rem;
}

.languages {
  margin-top: 2rem;
}

.languages h3 {
  margin-top: 1.5rem;
}

.languages p {
  margin-bottom: 0.5rem;
}

.language-proficiency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 70%;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
}

.progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 4px;
}
